// 
// Font
// 
%font-header {
  font-family: $font-family;
	font-size: $font-px-md;
	color: $white;
	line-height: em(20);
	text-decoration: none;
}

%font-h1 {
	font-family: $font-family-bold;
	font-size: $font-px-xxlg;
	color: $dark;
	line-height: em(44);
}

%font-h2 {
	font-family: $font-family-bold;
	font-size: $font-px-xlg;
	color: $dark;
	line-height: em(37);
}

%font-h4 {
	font-family: $font-family-bold;
	font-size: $font-px-lg;
	color: $dark;
	line-height: em(26);
}

%font-body {
  font-family: $font-family;
	font-size: $font-px-sm;
	color: $dark;
	line-height: em(20);
}

%font-intro-text {
  font-family: $font-family;
	font-size: $font-px-md;
	color: $dark;
	line-height: em(26);
}

%font-case-main {
	@extend %font-body;
}

%font-case-hover-main {
	@extend %font-body;
}

%font-case-hover-small {
	font-family: $font-family;
	font-size: $font-px-xsm;
	color: $dark;
	line-height: em(15);
}

%font-case-hover-read-more {
	font-family: $font-family-bold;
	font-size: $font-px-xxsm;
	color: $blue;
	line-height: em(15);
}

//
// 
// 
%section-wrap {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}

%outer-shadow {
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

// 
// Hero
// 
%hero-bg-image {
	background-image: $img-header-bg;
	background-repeat: no-repeat, no-repeat;
	background-size:  cover;
	background-position: 50% 50%;	
}

%hero-main-logo {
	background-image: $img-personal-logo;
	background-repeat: no-repeat, no-repeat;
	background-size:  cover;
	background-position: 50% 50%;	
}

%hero-position-mobile {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;	
	height: $hero-height-mobile;
	
}
