//
// Colors
//
$white: #FFFFFF;
$dark: #333333;
$dark-opacity: rgba(51,51,51,0.8);
$dark-opacity-darker: rgba(51,51,51,0.9);
$dark-light: #666666;
$grey: #F5F4F4;
$blue: #408AC3;
$blue-light: darken($blue, 10%);
$linkedin-blue: #007bb5;

//
// Padding and Margins
//
$margin-md: em(20);
$margin-lg: em(30);

//
// Sizes
//
$copy-width: em(500);

//
// Breakpoints
//
$bp-mobile-landscape: em(480);
$bp-mobile-landscape-lg: em(620);
$bp-tablet: em(800);

//
// Images
//
$img-path: "/assets/images/";
$img-header-bg: url($img-path + "Header-Bg.jpg");
$img-personal-logo: url($img-path + "Personal-Logo.svg");
$img-personal-avatar: url($img-path + "sam_furlong_picture.jpg");

//
// Fonts
//
$font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-bold: HelveticaNeue-Bold, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-color-main: $dark;
$font-color-secondary: $dark-light;
$font-color-link: $blue;
$font-link-opacity: 0.8;



// Pixle Sizes (converted to em)
$font-px-xxsm: em(10);
$font-px-xsm: em(14);
$font-px-sm: em(18);
$font-px-md: em(20);
$font-px-lg: em(30);
$font-px-xlg: em(36);
$font-px-xxlg: em(46);

//
// Forms
//
$form-input-height: em(42);
$form-textarea-height: em(156);

//
// Header
//
$header-height: em(64);
$header-height-padding-top: em(12);
$header-logo-width: em(50);
$header-logo-height: em(38);


//
// Hero
//
$hero-height-mobile: em(380);
$hero-height-tablet: em(400);
$hero-height-desktop: em(500);

//
// About
//
$avatar-size-sm: em(220);
