#about-wrap{
	@extend %section-wrap;
	.about-avatar{
		height: $avatar-size-sm;
		width: $avatar-size-sm;

		background-image: $img-personal-avatar;
		background-repeat: no-repeat, no-repeat;
		background-size:  cover;
		background-position: 50% 50%;

		margin: 0 auto;
		border-radius: 50%;
		@extend %outer-shadow;
		border: 2px $dark solid
	}

	p{
		@extend %copy-positioning;
		text-align: center;
	}

}
