#contact-wrap{
	@extend %bg-image;
	background-image: $img-bg-copy-book-map;

	.contact-overlay{
		width: 100%;
		background: $dark-opacity;
		position: absolute;
	}

	p{
		margin: 0;
		color: $white;
		text-align: center;
	}

	h3{
		color: $white;
	}

	//
	// use $contact-basic-breakpoint-lookup to loop through the
	// breakpoints in (mobile first)
	//
	@each $key, $value in $contact-basic-breakpoint-lookup{
	  // Find the breakpoint
	  @media (min-width: map-get($value, 'breakpoint') ){
	    // update the p to the right font-size
	    p{
	    	font-size: map-get($value, 'font-size');
	    }
	    // update the hieght
	    height: map-get($value, 'height');
	    .contact-overlay{
	    	height: map-get($value, 'height');
	    }
	  }
	}

}
