footer{
	background: $dark;
	height: $header-height;
	width: 100%;

	.footer-wrap{
		margin: 0 auto;
		width: 90%;
		height: $header-height;

		.footer-text{
			padding-top: em(17);
			@extend %font-header;
			width: em(210);
			margin: 0 auto;

			a{
				@extend %font-header;
				text-decoration: underline;

				&:hover{
					opacity: $font-link-opacity;
				}
			}
		}
	}

}
