#portfolio-wrap{
	@extend %section-wrap;
	padding-bottom: $margin-lg;
	p{
		@extend %copy-positioning;
		text-align: center;
	}

}

.case-study-grid{
	margin: 0 auto;
}

.case-study-item{
	margin: $portflio-item-margin;
	width: $portflio-item-width;
	min-height: $portflio-item-min-height;
	background: $white;
	border-radius: 2px;
	padding-top: 10px;
	@extend %outer-shadow-hover;

}

.case-study-item-top{
	width: $portflio-item-img-width;
	height: $portflio-item-img-height;
	margin: 0 auto;
	background: red;
}
