<div class="header">
	<div class="header-wrap">
		<div class="header-logo">
			<a href="{{ site.url }}#">
			<img src="/assets/images/Mountain-Logo.svg">
		</a>
		</div>
		<div class="header-menu">
			<div class="header-menu-item">
				<a href="{{ site.url }}#about">About</a>
			</div>
			<div class="header-menu-item">
				<a href="{{ site.url }}#portfolio">Portfolio</a>
			</div>
			<div class="header-menu-item">
				<a href="{{ site.url }}#contact">Contact</a>
			</div>
			<div class="header-menu-item header-menu-linkedin">
				<a href="https://ie.linkedin.com/in/samfurlong" TARGET="_blank">
					<img src="/assets/images/Linkedin-Logo.svg">
				</a>
			</div>
		</div>
	</div>
</div>
