<!-- Contact Section -->
<div id="contact">
	<h3>Contact</h3>
	<p>Feel free to get in touch at 
		<a href="mailto:samfurlong1@gmail.com">samfurlong1@gmail.com</a>
		 or by the contact box below
	</p>
	<input type="text" name="name" id="name"  class="input-name" placeholder="Name">
	<input type="text" name="email" id="email"  class="input-email" placeholder="Email">
	<textarea name="message" id="message" placeholder="Message"></textarea>
	<input type="submit" class="submit-button" value="Send">
</div>
<!-- End of Contact Section -->

