<div class="section-alt">
	<div class="nav-selector" id="portfolio"></div>
	<div id="portfolio-wrap">
		<h3>Portfolio</h3>
		<p>Click on any of the Portfolio Items below to see the full step by step case studies</p>


		<div class="case-study-grid">

			<!-- Case study item -->
			<div class="case-study-item">
				<div class="case-study-item-top">

					<div class="case-study-item-img">

					</div>
					<div class="case-study-item-img-overlay">

					</div>

				</div>

				<div class="case-study-item-bottom">

				</div>
			</div>
			<!-- End of case study item -->


			<!-- Case study item -->
			<div class="case-study-item">
				<div class="case-study-item-top">

					<div class="case-study-item-img">

					</div>
					<div class="case-study-item-img-overlay">

					</div>

				</div>

				<div class="case-study-item-bottom">

				</div>
			</div>
			<!-- End of case study item -->

			<!-- Case study item -->
			<div class="case-study-item">
				<div class="case-study-item-top">

					<div class="case-study-item-img">

					</div>
					<div class="case-study-item-img-overlay">

					</div>

				</div>

				<div class="case-study-item-bottom">

				</div>
			</div>
			<!-- End of case study item -->

			<!-- Case study item -->
			<div class="case-study-item">
				<div class="case-study-item-top">

					<div class="case-study-item-img">

					</div>
					<div class="case-study-item-img-overlay">

					</div>

				</div>

				<div class="case-study-item-bottom">

				</div>
			</div>
			<!-- End of case study item -->


			<!-- Case study item -->
			<div class="case-study-item">
				<div class="case-study-item-top">

					<div class="case-study-item-img">

					</div>
					<div class="case-study-item-img-overlay">

					</div>

				</div>

				<div class="case-study-item-bottom">

				</div>
			</div>
			<!-- End of case study item -->


			<!-- Case study item -->
			<div class="case-study-item">
				<div class="case-study-item-top">

					<div class="case-study-item-img">

					</div>
					<div class="case-study-item-img-overlay">

					</div>

				</div>

				<div class="case-study-item-bottom">

				</div>
			</div>
			<!-- End of case study item -->

			<!-- Case study item -->
			<div class="case-study-item">
				<div class="case-study-item-top">

					<div class="case-study-item-img">

					</div>
					<div class="case-study-item-img-overlay">

					</div>

				</div>

				<div class="case-study-item-bottom">

				</div>
			</div>
			<!-- End of case study item -->

		</div>



	</div>
</div>
